$primary: {{ REVVED_TRIDENTTECH_PRIMARY_COLOR }};

// Theme fonts
$font-family-sans-serif: 'Roboto' !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-title: 'Roboto', Plex !default;
$serif: 'Roboto', Crimson !default;
$f-sans-serif: 'Roboto', Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !default;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
